<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>965435396733-kp8meb9se6qfhbt8rck4ianjmkno7sdp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.965435396733-kp8meb9se6qfhbt8rck4ianjmkno7sdp</string>
	<key>API_KEY</key>
	<string>AIzaSyD7zRnWfxKoTwZvfqPwtmjCT67VWfUZSwU</string>
	<key>GCM_SENDER_ID</key>
	<string>965435396733</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ocespedes.scanerDocument</string>
	<key>PROJECT_ID</key>
	<string>scannerdocument-60c8e</string>
	<key>STORAGE_BUCKET</key>
	<string>scannerdocument-60c8e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:965435396733:ios:e2f2ec2eb574741955d714</string>
	<key>DATABASE_URL</key>
	<string>https://scannerdocument-60c8e.firebaseio.com</string>
</dict>
</plist>